@media (min-width: 76px) {
    footer p {
      font-size: 14px;
    }
    footer a {
      font-size: 13px;
    }
}
  
@media (min-width: 792px) {
    footer p {
      font-size: 18px;
    }
    footer a {
      font-size: 14px;
    }
}

  